<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КОД безопасности</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <b><div class="logo">КОД безопасности</div></b>
            <div class="search">
                <input type="text" placeholder="Найти на сайте">
            </div>
            <nav class="nav">
                <li><a href="index.html" class="nav-btn">Главная</a></li>
                <li><a href="about.html" class="nav-btn">О нас</a></li>
                <li><a href="contacts.html" class="nav-btn">Контакты</a></li>
            </nav>
            <button class="btn">Войти</button>
        </div>
    </header>

<main>
    <div class="safe"> 
        <h2 class="safe-title">Психологическая поддержка</h2>
        <div class="safe-text">
        <p>Психологическая поддержка – это совокупность социально-психологических методов и способов, направленных на помощь в социально-профессиональном самоопределении человека в процессе развития его склонностей, самосознания и ценностных ориентаций, а также в процессе повышения конкурентоспособности человека на трудовом рынке и его адаптации к условиям осуществления собственных профессиональных обязанностей.Психологическая поддержка реализуется средствами мобилизации способностей человека и оптимизации его психологических состояний, следствием чего является полное разрешение, либо снижение воздействия актуальных психологических затруднений, которые препятствуют профессиональной, трудовой и социальной реализации на каждом из жизненных этапов как отдельной личности, так и различных коллективов, малых групп, неформальных и формальных объединений.</p>
        <h3 class="safe-title">В качестве основных направлений психологической поддержки принято выделять следующее:</h3>
        <div class="list">
            <li>Психологическая профилактика – это помощь в достижении полного психического развития как отдельной личности, так и коллективов и малых групп, совместно с предупреждением возникновения вероятных межличностных и внутриличностных проблем, связанных с различными формами неблагополучия и социально-психологическими конфликтами, что включает в себя выработку рекомендаций по оптимизации социально-психологических условий для достижения самореализации человеком, малыми группами и коллективами, при учете возникающих у них социально-экономических отношений. </li>
            <li>Психологическое консультирование – это оказание психологической поддержки человеку в области развития адекватного уровня его самооценки, содействии в самопознании, а также адаптации в реальных условиях жизнедеятельности, содействие в укреплении ценностно-мотивационного компонента, а также помощь в преодолении кризисных ситуаций, совместно с достижением эмоциональной стабильности, благодаря которой становится возможным непрерывный личностные рост и саморазвития, включая консультирование руководящего состава в области эффективного управления персоналом, а также разрешение вопросов семейных проблем. </li>
            <li>Психологическая коррекция – это процесс активного психолого-педагогического воздействия на ликвидацию нарушений психического и личностного развития, совместно с гармонизацией личности и ее межличностных отношений.</li> 
        </div>
        </div>
    </div>
</main>

<footer>
    <p class="footer-text">Чумаков Н. Д. АТП-232</p> 
  </footer>
</body>
</html>