<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КОД безопасности</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <b><div class="logo">КОД безопасности</div></b>
            <div class="search">
                <input type="text" placeholder="Найти на сайте">
            </div>
            <nav class="nav">
                <li><a href="index.html" class="nav-btn">Главная</a></li>
                <li><a href="about.html" class="nav-btn">О нас</a></li>
                <li><a href="contacts.html" class="nav-btn">Контакты</a></li>
                <li><a href="forms.html" class="nav-btn">Войти</a></li>
            </nav>
            
        </div>
    </header>

<main>
<div class="safe">
<h1 class="safe-title">Безопасности студентов в университете</h1>
<div class="safe-text">
    <p>Безопасность студентов в образовательной среде является актуальной задачей в связи с увеличением опасных ситуаций (пожаров, заболеваний, травм, террористических угроз, наркомании и других), которые негативно сказываются на их жизни и здоровье.</p>
   <p>Правила безопасности в университете имеют разную направленность и необходимы для предотвращения экстремальных ситуаций.</p>
   <p>Комплексная безопасность в университете достигается за счет мероприятий, которые осуществляются при взаимодействии различных органов (руководство, правоохранительные, общественные) и готовностью студентов соблюдать правила безопасности.</p>
</div>
</div>
<img src="{% static "images1/foto1.jpg" %}" alt="Фото" class="safe-image">
<div class="safe">
    <h1 class="safe-title">Направления безопасности</h1>
    <div class="safe-text">
       <p>В современном обществе безопасность способствует нормальному, гармоничному развитию личности и позволяет достигать полной самореализации. Безопасность студентов в вузе заключается в следующих направлениях:</p>
       <div class="list">
       <li> Для успешного проведения учебного процесса, исследовательских работ необходимо соблюдать нормативные, законодательные требования по охране труда. Для выполнения этих требований проводится проверка учебных мест, исправность приборов, оборудования, наличие индивидуальных средств защиты, аптечек, контроль над обстановкой в аудитории и другие мероприятия.</li>
       <li>Знание и соблюдение правил пожарной безопасности в университете способствует предотвращению очагов возгорания, человеческих жертв и увечий.</li>
       <li>Памятка, инструктаж по гражданской обороне для студентов позволяют правильно вести себя в чрезвычайных ситуациях.</li>
       <li>Информационная безопасность студентов является актуальной в современном процессе обучения из-за огромного количества угроз поступающих из интернета, и меняются методы обеспечения безопасности. К общим мерам относятся:</li>
       <li>Защита компьютеров от вирусов, несанкционированных вмешательств и взломов;</li>
       <li>Фильтрация интернета дает возможность ограничить доступ к сайтам, не содержащим задачи образования;</li>
       <li>Воспитание и обучение студентов информационной культуре.</li>
    </div>
    </div>
    </div>
</main>

    <footer>
      <p class="footer-text">Чумаков Н. Д. АТП-232</p> 
    </footer>
</body>
</html>
